.navdiv {
}
.navList {
  background: linear-gradient(#224d93, #7587a3);
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  opacity: .75;
}
.navItem {
  float: right;
  border-left: 1px solid #bbb;
}
.navName {
  float: left;
  border: 1px solid #bbb;
  border-radius: 100%;
  margin: -1px auto -1px 10px;
}
.navlinks {
  display: block;
  padding: 10px;
}
li .navlinks {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li .navlinks:hover {
    opacity: .5;
    background: white;
    color: #004cc6;
}
